*
{
  box-sizing: border-box;
  margin : 0;
  padding : 0;
  overflow-x : hidden;
}

body,html
{
    overflow-x : hidden;
    max-width: 100%;
    height : auto;
}

#forma 
{
    display:block;
}

.form-body 
{
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 32%;
    height : 30%;
}

.heading{
    margin-right: auto;
    margin-left: auto;
}

.form-group {
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}

.input {
    position: relative;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: center;
}

#forma
{
    align-items: center;
}

.te_dhena {
    text-align: center;
}

.form-control 
{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border: 1px solid #313131;
}

select.form-control[size], select.form-control[multiple] {
    height: auto;
}

textarea.form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0062cc;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 50%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}

.top-bar
{
    background-color : #333;
    color: #fff;
    padding: 1rem;
    height: 120%;
}

.btn
{
    color: black;
    border: none;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.ui-btn-up-c
{
    height:10%;
    margin-top : 1%;
}

.right
{
    position: relative;
    left: 70%;
    display : flex;
    height : 20%;
}

.signature
{
    display:flex;
}

.page-info
{
    margin-left: 1rem;
}

.ui-bar-b
{
    height : 20%;
}

.ui-popup-container > .ui-popup-active
{
    height : 143%;
}

.ui-popup-container > .ui-overlay-shadow > .ui-corner-all > .ui-body-c
{
    height : 26%;
}

@media screen and (min-width: 320px) and (max-width: 409px)
{
    .form-body{
        width: 101%;
        left: 0%;
    }

    .ui-btn-up-c
    {
      margin-top : 9%;
    }

    .ui-btn-inner
    {
        width:138%;
    }

    .right
    {
        margin-left: -56%;
        width: 108%;
    }

    #innerdiv
    {
     left: -3%;
     width: 79%;
     position: relative;
    }

    .ui-btn-text
    {
        left : -17%;
    }
    
    #pdf
    {
        width : 113%;;
    }

    #content
    {
       right: 36%;
       width: 100%;
       position: relative;
    }
 
    #dragtarget
    {
        margin-top: -65% !important;
        margin-bottom: 8% !important;
        margin-left: 73%;
        width: 58%;
    }
}

@media screen and (min-width: 410px) and (max-width: 460px)
{
    .form-body{
        width: 101%;
        left: 0%;
    }

    .ui-btn-up-c
    {
      margin-top : 4%;
    }

    .ui-btn-text
    {
        margin-left: -22%;
    }

    .right
    {
        margin-left: -30%;
    }

    #innerdiv
    {
     left: -3%;
     width: 79%;
     position: relative;
    }

    #pdf
    {
        width : 113%;;
    }

    #content
    {
       right: 36%;
       width: 100%;
       position: relative;
    }
 
    #dragtarget
    {
        margin-top: -65% !important;
        margin-bottom: 8% !important;
        margin-left: 70%;
        width: 58%;
    }
}

@media screen and (min-width: 461px) and (max-width: 499px)
{
    .form-body{
        width: 101%;
        left: 0%;
    }

    .ui-btn-up-c
    {
      margin-top : 4%;
    }

    .right
    {
        margin-left: -23%;
    }

    #innerdiv
    {
     left: -3%;
     width: 79%;
     position: relative;
    }

    #pdf
    {
        width : 113%;
    }

    #content
    {
       right: 17%;
       position: relative;
    }
 
    #dragtarget
    {
        margin-top: -65% !important;
        margin-bottom: 8% !important;
        margin-left: 71%;
        width: 58%;
    }
}

@media screen and (min-width: 500px) and (max-width: 629px)
{
    .form-body{
        width: 53%;
        left: 23%;
    }

    .ui-btn-up-c
    {
      margin-top : 4%;
    }

    .right
    {
        margin-left: -20%;
    }

    #innerdiv
    {
     left: -3%;
     width: 79%;
     position: relative;
    }

    #pdf
    {
        width : 100%;
    }

    #content
    {
       right: 18%;
       position: relative;
    }
 
    #dragtarget
    {
      margin-top: -58% !important;
      margin-bottom: 6% !important;
      margin-left: 83%;
      width : 38%;
    }
}

@media screen and (min-width: 630px) and (max-width: 899px)
{
    .form-body{
        width: 53%;
        left: 23%;
    }

    .ui-btn-up-c
    {
      margin-top : 3%;
    }

    .right
    {
        margin-left: -11%;
    }

    #pdf
   {
       width : 100%;
   }

    #innerdiv
    {
     left: -3%;
     width: 79%;
     position: relative;
    }

    #content
   {
      right: 17%;
      position: relative;
   }

   #dragtarget
   {
     margin-top: -48% !important;
     margin-bottom: 5% !important;
     margin-left: 89%;
     width : 38%;
   }
}

@media screen and (min-width: 900px) and (max-width: 1024px)
{
    .form-body{
        width : 40%;
    }

    .ui-btn-up-c
   {
     margin-top : 2%;
   }

   .right
   {
       margin-left: -10%;
   }

   #pdf
   {
       width : 100%;
   }

   #innerdiv
   {
    left: -3%;
    width: 79%;
    position: relative;
   }

   #content
   {
      right: 17%;
      position: relative;
   }

   #dragtarget
   {
     margin-top: -36% !important;
     margin-bottom: 3% !important;
     margin-left: 69%;
   }
}